<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normalBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Reset</title>
</head>
<body>
<section class="bck-image">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">
						<h1 class="text-center">Change Password</h1>
						<form action="" th:action="@{/ForgotPassword}" method="post">

							<label for="email"><b>Email</b></label> <input type="text"
								placeholder="Enter Email" name="email" required> <label
								for="psw"><b>Password</b></label> <input type="password"
								placeholder="Enter Password" name="psw" required> <label
								for="psw-repeat"><b>Repeat Password</b></label> <input
								type="password" placeholder="Repeat Password" name="psw-repeat"
								required> 

							<div class="clearfix vertical-center">
								<button type="submit" class="submitbtn">Submit</button>
							</div>
					</div>
					</form>
				</div>
				</form>
			</div>
		</div>
		</div>
		</div>
	</section>
</body>
</html>