<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normalBase::layout(~{::section})">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="ISO-8859-1">
<!-- Add icon library -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<title>Home</title>
</head>
<body>
	<section class="bck-image">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card" style="height:480px">
					<h1 class="text-center">Verify Your Email</h1>
						<form action="" th:action= "@{/send-otp}" method="post">
							<div class="container"> 
							<input type="email" name="email" th:value="${session.email}" readonly>
							</div>
								<!-- <label for="uname"><b>OTP</b></label> <input type="text"
									placeholder="Enter OTP" name="uname" required> -->
									<div class="container text-center">
									<button style="width:150px" class= "btn btn-warning">Send OTP</button>
									</div>
								
								<!--<button style="width:210px" class= "btn btn-danger" disabled>Resend OTP</button>
				
								<a th:href="@{/Login}"><button style="width:210px" class= "btn btn-success" >Submit</button></a>-->
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>