<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<section class="banner">
		<!-- 		<h1>ScribblePad</h1> -->
		<div class="container">
			<div class="bottom-left" style="font-size: 20px">Address: 
			<br>800 University Dr, <br>Maryville, MO 64468</div>
			<div class="bottom-right" style="font-size: 20px">Contact Information: <br>(660) 562-1212</div>
		</div>

	</section>
</body>
</html>