<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normalBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Change Password Form</title>
</head>
<body>
	<section class="bck-image">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card" style="height:480px">
						<h3 class="mt-4">Enter new password</h3>
						<form action="" th:action= "@{/change-password}" method="post">
							<div class="container"> 
								<input type="password" placeholder="Enter new password" name="newpassword" required></div>
							<div class="container text-center">
								<button style="width:150px" class= "btn btn-success">Change Password</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>