<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normalBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<section class="bck-image">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card" style="height:480px">
					<div th:if="${session.message}" class="container">
						<div class="alert alert-danger my-2 text-center" role = "alert">
								<span th:text="${session.message}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<h1 class="text-center"> Your Registerd Email</h1>
						<form action="" th:action= "@{/resetSendOtp}" method="post">
							<div class="container"> <input type="email"
									placeholder="Enter Registered Email Address" name="email" required></div>
								<!-- <label for="uname"><b>OTP</b></label> <input type="text"
									placeholder="Enter OTP" name="uname" required> -->
									<div class="container text-center">
									<button style="width:150px" class= "btn btn-warning">Send OTP</button>
									</div>
								
								<!--<button style="width:210px" class= "btn btn-danger" disabled>Resend OTP</button>
				
								<a th:href="@{/Login}"><button style="width:210px" class= "btn btn-success" >Submit</button></a>-->
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>